<ion-header>
  <ion-toolbar [color]="currentColor">
    <ion-title >Farmer Claims</ion-title>
    <ion-buttons slot="primary"> 
      Color :
      <ion-select placeholder="Change Color" [(ngModel)]='currentColor' name="currentColor">


          <ion-select-option *ngFor="let colors  of colrsKey" [value]='colrsValues[colors]'>{{colors}}</ion-select-option>

        </ion-select></ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align='center' *ngIf="!uploadTrue">
      <ion-item>
          <ion-label class='font' class='font' position='stacked'>Upload File</ion-label>
          <ion-input type='file' name='insFile' [(ngModel)]='insFile' (change)="uploadFile($event)"></ion-input>
        </ion-item>
  </div>


  <div *ngIf="uploadTrue">
    <div>

    <ion-card>
        <ion-toolbar align='center'>
            <ion-title>Crop Insurance Details</ion-title>
            <ion-buttons slot='primary'>
              
              <ion-button color='primary' (click)='uploadTrue=false;'>Close</ion-button>
            </ion-buttons>
          </ion-toolbar> 
    </ion-card>

    </div>
        
     <ion-card>
       <div align='center' style="margin-top: 5px;
       font-size: 21px;
       font-weight: 500;
       border-bottom: 2px solid #d6d3d3;
       background: linear-gradient(#2c75a0a3, #e2e2def5);">
           <ion-label class='font' class='font'>Policy Details</ion-label>
         </div>
       <ion-row>
         <ion-col size-md="4" size-xs="12" >
             <ion-item>
                 <ion-label class='font' class='font' position="stacked">Policy Id</ion-label>
                 <ion-input readOnly>{{each_policy.policy_id}}</ion-input>
               </ion-item>
         </ion-col>
     
         <ion-col size-md="4" size-xs="12" >
             <ion-item>
                 <ion-label class='font' class='font' position="stacked">Insurance Provider</ion-label>
                 <ion-input readOnly>{{each_policy.provider}}</ion-input>
               </ion-item>
         </ion-col>
         <ion-col size-md="4" size-xs="12">
             <ion-item>
                 <ion-label class='font' class='font' position="stacked">Insured Amount</ion-label>
                 <ion-input readOnly>{{each_policy.amount_insured}}</ion-input>
               </ion-item>
         </ion-col>
         <ion-col size-md="4" size-xs="12">
             <ion-item>
                 <ion-label class='font' class='font' position="stacked">Start Date</ion-label>
                 <ion-input>{{each_policy.start_date}}</ion-input>
               </ion-item>
         </ion-col>
         <ion-col size-md="4" size-xs="12">
             <ion-item>
                 <ion-label class='font' class='font' position="stacked">End Date</ion-label>
                 <ion-input>{{each_policy.expiry_dates}}</ion-input>
               </ion-item>
         </ion-col>
         
     
       </ion-row>
       
     
     </ion-card> 
     <ion-card>
       <div align='center' style="margin: 5px;
       font-size: 21px;
       font-weight: 500;
       border-bottom: 2px solid #d6d3d3;
       background: linear-gradient(#2c75a0a3, #e2e2def5);">
           <ion-label class='font' class='font'>Farm Details</ion-label>
         </div>
         <ion-row>
             <ion-col size-md="4" size-xs="12">
                 <ion-item>
                     <ion-label class='font' class='font' position="stacked">Farmer Id</ion-label>
                     <ion-input>{{each_policy.farmer_id}}</ion-input>
                   </ion-item>
             </ion-col>
           <ion-col size-md="4" size-xs="12" >
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Address</ion-label>
                   <ion-input readOnly>{{each_policy.farm_data.address}}</ion-input>
                 </ion-item>
           </ion-col>
           <!-- <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Latitude</ion-label>
                   <ion-input readOnly>{{each_policy.farm_data.geo_coordinates.latitude}}</ion-input>
                 </ion-item>
           </ion-col>
           <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Longitude</ion-label>
                   <ion-input readOnly>{{each_policy.farm_data.geo_coordinates.longitude}}</ion-input>
                 </ion-item>
           </ion-col> -->
           <ion-col size-md="4" size-xs="12" >
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_name}}</ion-input>
                 </ion-item>
           </ion-col>
           <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop Type</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_type}}</ion-input>
                 </ion-item>
           </ion-col>
           <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop Season</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_season}}</ion-input>
                 </ion-item>
           </ion-col> 
           <ion-col size-md="4" size-xs="12">
              <ion-item>
                  <ion-label class='font' class='font' position="stacked">Crop State</ion-label>
                  <ion-input>{{each_policy.crop_data.Crop_state}}</ion-input>
                </ion-item>

                <div class="ion-padding">
                    <ion-button  size="large" type="submit" expand="block">Submit Request</ion-button>
                  </div>
          </ion-col> 
     
           
         </ion-row>
         
       
       </ion-card> 
     </div>
</ion-content>
