<ion-header>
  <ion-toolbar [color]="currentColor">
    <ion-title >Farmer Claims</ion-title>
    <ion-buttons slot="primary"> 
      Color :
      <ion-select placeholder="Change Color" [(ngModel)]='currentColor' name="currentColor">


          <ion-select-option *ngFor="let colors  of colrsKey" [value]='colrsValues[colors]'>{{colors}}</ion-select-option>

        </ion-select></ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div align='center' *ngIf="!uploadTrue">
      <ion-item>
          <ion-label class='font' class='font' position='stacked'>Upload File</ion-label>
          <ion-input type='file' name='insFile' [(ngModel)]='insFile' (change)="uploadFile($event)"></ion-input>
        </ion-item>  <br>
  </div> -->


  <div>
 
        
     <ion-card>
       <form #form="ngForm" (ngSubmit)="createPolicy(form)">
          <div align='center' style="margin-top: 5px;
          font-size: 21px;
          font-weight: 500;
          border-bottom: 2px solid #d6d3d3;
          background: linear-gradient(#2c75a0a3, #e2e2def5);">
              <ion-label class='font' class='font'>Policy Details</ion-label>
            </div>
          <ion-row>
            <ion-col size-md="6" size-xs="12" >
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Policy Id</ion-label>
                   
                   <ion-input name="policyId" type="text"  ngModel required></ion-input>
                      
                    
                  </ion-item>  <br>
            </ion-col>
        
            <ion-col size-md="6" size-xs="12" >
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Farmer Id</ion-label>
                    <ion-input name="farmerId" type="text"  ngModel required></ion-input>
                  </ion-item>  <br>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Farm Id</ion-label>
                    <ion-input name="farmId" type="text"    ngModel required></ion-input>
                  </ion-item>  <br>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Start Date</ion-label>
                    <ion-input name="startDate" type="date"  ngModel required></ion-input>
                  </ion-item>  <br>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">End Date</ion-label>
                    <ion-input name="endDate" type="date"  ngModel required></ion-input>
                  </ion-item>  <br>
            </ion-col>

            <ion-col size-md="6" size-xs="12">
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Amount Insured</ion-label>
                    <ion-input name="amount" type="number"  ngModel required></ion-input>
                  </ion-item>  <br>
            </ion-col>
            
            <ion-col size-md="6" size-xs="12">
                <ion-item>
                    <ion-label class='font' class='font' position="stacked">Select Insurer</ion-label>
                    <ion-select ngModel name="insurerId" required>
                        <ion-select-option *ngFor="let id of insurers" [value]="id.Key">{{id.Key}}</ion-select-option>
                          </ion-select>   
                  
                  </ion-item>  <br>

                  <div class="ion-padding">
                      <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Submit Request</ion-button>
                    </div>
            </ion-col>
        
          </ion-row>
          
       </form>

     
     </ion-card> 
     <!-- <ion-card>
       <div align='center' style="margin: 5px;
       font-size: 21px;
       font-weight: 500;
       border-bottom: 2px solid #d6d3d3;
       background: linear-gradient(#2c75a0a3, #e2e2def5);">
           <ion-label class='font' class='font'>Farm Details</ion-label>
         </div>
         <ion-row>
             <ion-col size-md="4" size-xs="12">
                 <ion-item>
                     <ion-label class='font' class='font' position="stacked">Farmer Id</ion-label>
                     <ion-input>{{each_policy.farmer_id}}</ion-input>
                   </ion-item>  <br>
             </ion-col>
           <ion-col size-md="4" size-xs="12" >
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Address</ion-label>
                   <ion-input readOnly>{{each_policy.farm_data.address}}</ion-input>
                 </ion-item>  <br>
           </ion-col>

           <ion-col size-md="4" size-xs="12" >
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_name}}</ion-input>
                 </ion-item>  <br>
           </ion-col>
           <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop Type</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_type}}</ion-input>
                 </ion-item>  <br>
           </ion-col>
           <ion-col size-md="4" size-xs="12">
               <ion-item>
                   <ion-label class='font' class='font' position="stacked">Crop Season</ion-label>
                   <ion-input>{{each_policy.crop_data.Crop_season}}</ion-input>
                 </ion-item>  <br>
           </ion-col> 
           <ion-col size-md="4" size-xs="12">
              <ion-item>
                  <ion-label class='font' class='font' position="stacked">Crop State</ion-label>
                  <ion-input>{{each_policy.crop_data.Crop_state}}</ion-input>
                </ion-item>  <br>

                <div class="ion-padding">
                    <ion-button  size="large" type="submit" expand="block">Submit Request</ion-button>
                  </div>
          </ion-col> 
     
           
         </ion-row>
         
       
       </ion-card>  -->
     </div>
</ion-content>
