<ion-header>
  <ion-toolbar [color]="currentColor">
    <ion-title >Farmer Claims</ion-title>
    <ion-buttons slot="primary"> 
      Color :
      <ion-select placeholder="Change Color" [(ngModel)]='currentColor' name="currentColor">


          <ion-select-option *ngFor="let colors  of colrsKey" [value]='colrsValues[colors]'>{{colors}}</ion-select-option>

        </ion-select></ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align='center'>
      <ion-item>
          <ion-label position='stacked'>Upload File</ion-label>
          <ion-input type='file' name='insFile' [(ngModel)]='insFile' (change)="uploadFile($event)"></ion-input>
        </ion-item>
  </div>

</ion-content>
