<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Insurance App</ion-title>
    <ion-buttons slot='end'>

        <mat-menu #notifyMenu="matMenu">
            <button mat-menu-item>Notification Kartik!</button>
           
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="notifyMenu" style="margin-right:1.2rem">
            <mat-icon matBadge="4" matBadgeOverlap="false">notifications</mat-icon>
          </button>


        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Welcome Kartik!</button>
            <button mat-menu-item><a href='/'>Logout</a></button>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>account_circle</mat-icon>
          </button>

    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>

      <mat-tab-group (selectedTabChange)="seletedTabClick($event)">
          <mat-tab label="Dashboard">
            
            <div *ngIf="!display">
                <ion-toolbar>
                    <ion-title>Insurance Claims</ion-title>
                  </ion-toolbar>
                <ion-card *ngFor="let policy of policydata" (click)='openCard(policy)'>
                    <ion-card-header>
              
                            <ion-row>
                              <ion-col size-md="6"> <ion-card-subtitle color='dark' >Policy Id: {{policy.policy_id}}</ion-card-subtitle></ion-col>
                              <ion-col size-md="6"  text-right> <ion-card-subtitle color='dark' >Status: {{policy.status}}</ion-card-subtitle></ion-col>
                              </ion-row>
              
              
                       
                       
                        
                    </ion-card-header>
                  
                  <ion-card-content>
                    
                          <ion-row>
                            <ion-col size-md="7">Start date: {{policy.start_date}}</ion-col>
                            <ion-col size-md="5" text-right>End date: {{policy.expiry_dates}}</ion-col>
              
                            </ion-row>
                           
              
                             
                    
                      </ion-card-content>
                </ion-card>
            </div>

            <div *ngIf="display">
                <ion-item>
                   <ion-toolbar>
                       <ion-title>Insurance Details</ion-title>
                       <ion-buttons slot='primary'>
                         <ion-button color='primary' (click)='display=false;'>Back</ion-button>
                       </ion-buttons>
                     </ion-toolbar>  
                </ion-item>   
                  
               <ion-card>
                  <div align='center' style="margin: 5px;
          font-size: 21px;
          font-weight: 500;
          border-bottom: 2px solid #d6d3d3;
          background: linear-gradient(#2c75a0a3, #e2e2def5);">
              <ion-label>Policy Details</ion-label>
            </div>
                 <!-- <ion-card-subtitle>Policy Details</ion-card-subtitle> -->
                 <ion-row>
                   <ion-col size-md="4" size-xs="6" >
                       <ion-item>
                           <ion-label position="stacked">Policy Id</ion-label>
                           <ion-input readOnly>{{each_policy.policy_id}}</ion-input>
                         </ion-item>
                   </ion-col>
               
                   <ion-col size-md="4" size-xs="6" >
                       <ion-item>
                           <ion-label position="stacked">Status</ion-label>
                           <ion-input readOnly>{{each_policy.status}}</ion-input>
                         </ion-item>
                   </ion-col>
                   <ion-col size-md="4" size-xs="6">
                       <ion-item>
                           <ion-label position="stacked">Insured Amount</ion-label>
                           <ion-input readOnly>{{each_policy.amount_insured}}</ion-input>
                         </ion-item>
                   </ion-col>
                   <ion-col size-md="4" size-xs="6">
                       <ion-item>
                           <ion-label position="stacked">Start Date</ion-label>
                           <ion-input readOnly>{{each_policy.start_date}}</ion-input>
                         </ion-item>
                   </ion-col>
                   <ion-col size-md="4" size-xs="6">
                       <ion-item>
                           <ion-label position="stacked">End Date</ion-label>
                           <ion-input readOnly>{{each_policy.expiry_dates}}</ion-input>
                         </ion-item>
                   </ion-col>
                   
               
                 </ion-row>
                 
               
               </ion-card> 
               <ion-card>
                  <div align='center' style="margin: 5px;
                  font-size: 21px;
                  font-weight: 500;
                  border-bottom: 2px solid #d6d3d3;
                  background: linear-gradient(#2c75a0a3, #e2e2def5);">
                      <ion-label>Farm Details</ion-label>
                    </div>
                   <ion-row>
                       <ion-col size-md="4" size-xs="6">
                           <ion-item>
                               <ion-label position="stacked">Farmer Id</ion-label>
                               <ion-input readOnly>{{each_policy.farmer_id}}</ion-input>
                             </ion-item>
                       </ion-col>
                       <ion-col size-md="4" size-xs="6">
                          <ion-item>
                              <ion-label position="stacked">Farmer Nmae</ion-label>
                              <ion-input readOnly>Vaibhaw Gupta</ion-input>
                            </ion-item>
                      </ion-col>
                     <ion-col size-md="4" size-xs="6" >
                         <ion-item>
                             <ion-label position="stacked">Address</ion-label>
                             <ion-input readOnly>{{each_policy.farm_data.address}}</ion-input>
                           </ion-item>
                     </ion-col>
                     <ion-col size-md="4" size-xs="6">
                         <ion-item>
                             <ion-label position="stacked">Latitude</ion-label>
                             <ion-input readOnly>{{each_policy.farm_data.geo_coordinates.latitude}}</ion-input>
                           </ion-item>
                     </ion-col>
                     <ion-col size-md="4" size-xs="6">
                         <ion-item>
                             <ion-label position="stacked">Longitude</ion-label>
                             <ion-input readOnly>{{each_policy.farm_data.geo_coordinates.longitude}}</ion-input>
                           </ion-item>
                     </ion-col>
                     <ion-col size-md="4" size-xs="6" >
                         <ion-item>
                             <ion-label position="stacked">Crop</ion-label>
                             <ion-input readOnly>{{each_policy.crop_data.Crop_name}}</ion-input>
                           </ion-item>
                     </ion-col>
                     <ion-col size-md="4" size-xs="6">
                         <ion-item>
                             <ion-label position="stacked">Crop Type</ion-label>
                             <ion-input readOnly>{{each_policy.crop_data.Crop_type}}</ion-input>
                           </ion-item>
                     </ion-col>
                     <ion-col size-md="4" size-xs="6">
                         <ion-item>
                             <ion-label position="stacked">Crop Season</ion-label>
                             <ion-input readOnly>{{each_policy.crop_data.Crop_season}}</ion-input>
                           </ion-item>
                     </ion-col> 
                     <ion-col size-md="4" size-xs="6">
                        <ion-item>
                            <ion-label position="stacked">Crop State</ion-label>
                            <ion-input readOnly>{{each_policy.crop_data.Crop_state}}</ion-input>
                          </ion-item>


                         
                    </ion-col> 
                   </ion-row>
                   <div class="ion-padding">
                      <ion-button  size="large" type="submit" expand="block" (click)="acceptClaim()">Accept Insurance</ion-button>
                    </div>
                 
                 </ion-card> 
               </div>
          </mat-tab>




          <mat-tab label="Profile">
              <div *ngIf="!editProfile">
                  <ion-card>
                      <ion-grid>
                          <ion-row color="primary" class="ion-justify-content-center">
                            <ion-col class="ion-align-self-center border" size-md="6" size-lg="5" size-xs="12">
                              <br>
                              <div style="padding: 3px;">
                              <div align='center' style="margin: 5px;
                          font-size: 21px;
                          font-weight: 500;
                          border-bottom: 2px solid #d6d3d3;
                          background: linear-gradient(#2c75a0a3, #e2e2def5);">
                              <ion-label>User Details</ion-label>
                            </div>  
                                  <ion-item>
                                      <ion-label position="floating">Username</ion-label>
                                      <ion-input value="{{userData.fullname}}" readonly align='end'></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">User Id</ion-label>
                                        <ion-input value="{{userData.user_id}}" readonly align='end'></ion-input>
                                      </ion-item>
                                    <ion-item>
                                      <ion-label position="stacked">Role</ion-label>
                                      <ion-input value="{{userData.user_type}}" readonly align='end'></ion-input>
                                    </ion-item>
                                    <ion-item>
                                      <ion-label position="stacked">Phone No.</ion-label>
                                      <ion-input value="{{userData.phone}}" readonly align='end'></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Email</ion-label>
                                        <ion-input value="{{userData.email}}" readonly align='end'></ion-input>
                                      </ion-item>
                                    <ion-item>
                                      <ion-label position="stacked">Address</ion-label>
                                      <ion-input value="{{userData.address}}" readonly align='end'></ion-input>
                                    </ion-item>
                                   <br>
                                   <div align='center' style="margin: 5px;
                                   font-size: 21px;
                                   font-weight: 500;
                                   border-bottom: 2px solid #d6d3d3;
                                   background: linear-gradient(#2c75a0a3, #e2e2def5);" *ngIf="userData.farms.length!=0">
                                       <ion-label>Farm Details</ion-label>
                                     </div> 
                                   <div *ngFor='let eachfarm of userData.farms'>
                                      <ion-item>
                                          <ion-label position="stacked">Farm Id</ion-label>
                                          <ion-input value="{{eachfarm.farm_id}}" readonly align='end'></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="stacked">Farm Address</ion-label>
                                            <ion-input value="{{eachfarm.address}}" readonly align='end'></ion-input>
                                          </ion-item>
                                          <ion-item>
                                              <ion-label position="stacked">Farm Coordinates</ion-label>
                                              <ion-input  readonly align='end'>
                                                <div *ngIf="eachfarm.coordinates.length==2">
                                                    {{eachfarm.coordinates[0]}} &nbsp;&nbsp; {{eachfarm.coordinates[1]}}
                                                </div></ion-input>
                                            </ion-item>
                                   </div>
                                   <div align='center' style="margin: 5px;
                                   font-size: 21px;
                                   font-weight: 500;
                                   border-bottom: 2px solid #d6d3d3;
                                   background: linear-gradient(#2c75a0a3, #e2e2def5);" *ngIf="userData.account_details.length!=0">
                                       <ion-label>Account Details</ion-label>
                                     </div> 
                                   <div *ngFor='let eachAccount of userData.account_details'>
                                      <ion-item>
                                          <ion-label position="stacked">Bank Name</ion-label>
                                          <ion-input value="{{eachAccount.bank_name}}" readonly align='end'></ion-input>
                                        </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Account Number</ion-label>
                                        <ion-input value="{{eachAccount.account_number}}" readonly align='end'></ion-input>
                                      </ion-item>
                                      <ion-item>
                                          <ion-label position="stacked">Account Balance</ion-label>
                                          <ion-input value="{{eachAccount.balance}}" readonly align='end'></ion-input>
                                        </ion-item>
                
                                
                                   
                                   <br>
                
                
                              </div>
                              </div>
                
                
                
                    
                  
                  </ion-col>
                  </ion-row>
                  </ion-grid>
                  </ion-card>
                </div>
              <div *ngIf="editProfile">
                  <ion-card>
                      <ion-grid>
                          <ion-row color="primary" class="ion-justify-content-center">
                            <ion-col class="ion-align-self-center border" size-md="6" size-lg="5" size-xs="12">
                              <br>
                      <div align='center' style="margin: 5px;
                      font-size: 21px;
                      font-weight: 500;
                      border-bottom: 2px solid #d6d3d3;
                      background: linear-gradient(#2c75a0a3, #e2e2def5);">
                          <ion-label>Farm Details</ion-label>
                        </div>  
                      <form #farmform="ngForm" (ngSubmit)="updatefarm(farmform)">
                        
                            
                              
                        <ion-item>
                            
                          <ion-label position="stacked">Farm Address</ion-label>
                          <ion-input name="farmAddress" type="text"  ngModel required></ion-input>
                        </ion-item>
                        <br>
                        <ion-item>
                            
                            <ion-label position="stacked">Crop Name</ion-label>
                              <ion-input name="crop" type="text"  ngModel required></ion-input>
                            </ion-item>
                            <br>
                    
                            <ion-item>
                            
                              <ion-label position="stacked">Crop Type</ion-label>
                                <ion-input name="cropType" type="text"  ngModel required></ion-input>
                              </ion-item>
                              <br>
                    
                          
                        
                    
                        <div>
                          <ion-toolbar>
                              <ion-buttons slot="primary">
                                  <ion-button size="large" type="submit" [disabled]="farmform.invalid">Update</ion-button>
                        
                                  <ion-button (click)="editProfile=false">Close</ion-button>
                                </ion-buttons>
                          </ion-toolbar>
                            
                            
                        </div>
                        
                    
                    </form>
                    <div align="center" style="margin: 5px;
                    font-size: 21px;
                    font-weight: 500;
                    border-bottom: 2px solid #d6d3d3;
                    background: linear-gradient(#2c75a0a3, #e2e2def5);">
                        <ion-label>Account Details </ion-label>
                    </div>
                    
                      <form #form="ngForm" (ngSubmit)="updateAccount(form)">
                        
                            
                              
                          
                            
                          
                          <ion-item>
                              <ion-label position="stacked">Bank Name</ion-label>
                              <ion-input name="bank_name" type="text" ngModel required></ion-input>
                            
                            
                          </ion-item>
                          <ion-item>
                            
                              <ion-label position="stacked">Account Number</ion-label>
                              <ion-input name="account_number" type="text"  ngModel required></ion-input>
                              
                              
                            </ion-item>
                          <ion-item>
                            
                            
                            <ion-label position="stacked">Account Balance</ion-label>
                            <ion-input name="balance" type="number"  ngModel required></ion-input>
                            
                          </ion-item>
                          <br>
                          
                        
                      
                          <div>
                            <ion-toolbar>
                                <ion-buttons slot="primary">
                                    <ion-button size="large" type="submit" [disabled]="form.invalid">Update</ion-button>
                          
                                    <ion-button (click)="editProfile=false">Close</ion-button>
                                  </ion-buttons>
                            </ion-toolbar>
                              
                              
                          </div>
                          
                
                </form>
                </ion-col>
                </ion-row>
                </ion-grid>
                
                  </ion-card>
                    
                </div>
           
          </mat-tab>
        </mat-tab-group>
  </div>
      
 
    
</ion-content>