<ion-header >
  <ion-toolbar color='primary'>
    <ion-title>
      Insurance App
    </ion-title>
    <ion-buttons slot="primary">
        <!-- <ion-button large icon-only (click)="showNotifications()">
            <ion-badge *ngIf="n" color="accent">{{n}}</ion-badge>
          <ion-icon name="notifications"></ion-icon>
    
        </ion-button>   -->
        <!-- <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Notification Kartik!</button>
           
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu" style="margin-right:1.2rem">
            <mat-icon matBadge="4" matBadgeOverlap="false">notifications</mat-icon>
          </button> -->
      <ion-button (click)='logout()'>Logout</ion-button>
    </ion-buttons>
  </ion-toolbar> 
  </ion-header>
<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color='primary'>
      <ion-tab-button tab="dashboard">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{ 'DASHBOARD' | translate }} </ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="claims">
        <ion-icon name="create"></ion-icon>
        <ion-label>{{ 'CLAIMS' | translate }} </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>{{ 'PROFILE' | translate }} </ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>

