
<ion-header>
    <ion-toolbar>
      <ion-title>
        Farmer Insurance App
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content  class="ion-padding marginTop">
  
    <ion-list>
        <ion-item>
          <ion-label>Select Language</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="hn">Hindi</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>{{ 'LOGIN' | translate }}</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
               
             
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <br>
            <ion-item>
               
            
              <ion-input name="password" type="password" placeholder="{{ 'PASSWORD' | translate }}" ngModel required></ion-input>
            </ion-item>
            <br>
            <ion-item>
               
                <ion-select placeholder="{{'ROLE' | translate }}" ngModel name="role">
                  <ion-select-option value="farmer">{{ 'FARMER' | translate }}</ion-select-option>
                  <ion-select-option value="Verification officer">{{ 'VERIFICATION OFFICER' | translate }}</ion-select-option>
                </ion-select>
              </ion-item>
          </div>
          <div class="ion-padding">
            <ion-text color='primary'>{{'FORGOT PASSWORD' | translate}} ?</ion-text>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">{{ 'LOGIN' | translate }}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
