.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
// .marginTop{
//   margin-top: 2rem;
// }

ion-item{
  --background:transparent;
  
}


// .titleHeader{
//   background: linear-gradient(45deg, #8f84b6, #e046464f);
// }

