<ion-app>
    <ion-header >
        <ion-toolbar color='primary'>
          <ion-title >
            Farmer Insurance App
          </ion-title>
        </ion-toolbar>
       
        <!-- google translator -->
         <!-- <div id="google_translate_element" align='end'></div>
          
            <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
            </script> -->
      
            
           
       
      </ion-header>
      
  <ion-content class="has-header">
    <div style="overflow-y: scroll;height: 95vh">
        <ion-router-outlet></ion-router-outlet>
        <br><br>
    </div>
       
  
    
  </ion-content>
  <ion-footer>

    </ion-footer>
  
</ion-app>
